<mat-form-field class="example-chip-list" fxFlex="100">
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let item of control?.value" [selectable]="selectable" [removable]="removable"
      (removed)="remove(item)">
      {{item}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input [placeholder]="controlConfiguration?.placeholder" matInput [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
</mat-form-field>
