<aal-input-duration [type]="durationType"
                    [control]="control"
                    [ID]="fieldConfiguration?.ID"
                    [placeholder]="fieldConfiguration?.placeholder"
                    [help]="help"
                    [label]="fieldConfiguration?.label"
                    [isBusy]="isBusy"
                    [mode]="mode"
                    [alert]="serverError"
                    [displayOutputOnlyIn]="displayOutputFormat"
                    [prefixInReadMode]="prefixInReadMode"
                    [isHistoryEnabled]="isHistoryEnabled"
                    (acceptChanges)="onAcceptChanges($event)"
                    [pattern]="pattern"
                    [formatStringHint]="formatStringHint"
                    [fontSize]="fontSize" [hideHelp]="hideHelp"></aal-input-duration>
