<aal-button-toggle-input (acceptChanges)="onAcceptChanges($event)"
                         (acceptSecondaryControlChanges)="onAcceptChanges($event)"
                         (revertSecondaryControlChanges)="onRevertedChanges($event)"
                         [ID]="fieldConfiguration?.ID"
                         [isNullable]="isNullable"
                         [controlType]="'button'"
                         [alert]="serverError"
                         [control]="selectControl"
                         [help]="help"
                         [layout]="'column'"
                         [optionLabelField]="'label'"
                         [optionValueField]="'value'"
                         [options]="fieldConfiguration?.options"
                         [placeholder]="fieldConfiguration?.placeholder"
                         [label]="label || fieldConfiguration?.label"
                         [secondaryControlAlert]="serverError"
                         [disabledOptionsList]="disabledOptionsList"
                         [isBusy]="isBusy"
                         [mode]="mode"
                         [showEditableDiv]="showEditableDiv"
                         [secondaryControlHelp]="descriptionControlConfiguration?.help"
                         [secondaryControlID]="descriptionControlConfiguration?.ID"
                         [secondaryControlIsHistoryEnabled]="secondaryControlIsHistoryEnabled"
                         [secondaryControlMaxLength]="descriptionControlConfiguration?.validators?.max_length"
                         [secondaryControlMinLength]="descriptionControlConfiguration?.validators?.min_length"
                         [secondaryControlPlaceholder]="descriptionControlConfiguration?.label"
                         [secondaryControl]="descriptionControl"
                         [fontSize]="fontSize"
                         [valuesWhereSecondaryControlIsApplicable]="showDescriptionForOptions"
                         [isSecondaryControlValueHTML]="isSecondaryControlValueHTML"
                         [hideHelp]="hideHelp"
                         [confirmToolBarNotApplicable]="hideConfirmationToolBar">
</aal-button-toggle-input>
