@import '../../../../themes/common/theming';
@import '../../../../themes/material/theming';
.dialog-content {
  //background: $aal--mat-surface-variant;
  .overflow-section {
    overflow-y: auto;
    padding: 1rem;
  }
}
//.info-dialog-content {
//  height: 41.5rem;
//  max-height: 41.5rem;
//}
.inActiveStep {
  ::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
    ::ng-deep .mat-step-label-active, mat-step-icon-state-number {
      color: rgba(0, 0, 0, 0.54);
      font-weight: 400;

    }
  }
}
.importing{
  ::ng-deep .mat-step-text-label {
    color: #cccccc;
  }
  ::ng-deep .mat-step-icon-state-edit {
    color: #cccccc !important;
  }
}

