<div fxLayout="column" class="aal--margin-bottom-r-25 case-object-list-loader">
  <div fxLayout="row">
    <div fxFlex="100" fxLayout="column">

      <div fxLayout="row" fxLayoutAlign="space-between center" class="case-object-header aal--elevation-1 aal--padding-all-r1">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.5rem" class="aal--padding-all-r-5">
          <ngx-skeleton-loader [theme]="{ width: '36px', height: '36px' }" appearance="circle"></ngx-skeleton-loader>
          <div fxLayout="column">
            <ngx-skeleton-loader
              [theme]="{ width: '200px', 'border-radius': '8px', height: '14px', 'margin-bottom': '6px', 'margin-top': '6px'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader [theme]="{ width: '170px', 'border-radius': '8px', height: '14px' }"></ngx-skeleton-loader>
          </div>
        </div>
        <div  fxLayout="row" class="aal--padding-top-bottom-r-5 aal--margin-right-rs1-5" fxLayoutGap="12px">
          <ngx-skeleton-loader [theme]="{ width: '40px', height: '40px' }" appearance="circle"></ngx-skeleton-loader>
          <mat-divider [vertical]="true"></mat-divider>
          <ngx-skeleton-loader [theme]="{ width: '64px', 'border-radius': '8px', height: '36px'}" fxLayoutAlign="center center"></ngx-skeleton-loader>
          <ngx-skeleton-loader [theme]="{ width: '64px', 'border-radius': '8px', height: '36px'}" fxLayoutAlign="center center"></ngx-skeleton-loader>
          <mat-divider [vertical]="true"></mat-divider>
          <ngx-skeleton-loader [theme]="{ width: '40px', height: '40px' }" appearance="circle"></ngx-skeleton-loader>
        </div>
      </div>
<!--
      <div fxLayout="row" fxLayoutAlign="space-between center" class="case-object-action aal&#45;&#45;elevation-1 aal&#45;&#45;padding-all-r1 aal&#45;&#45;margin-left-right-r1">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.5rem" class="aal&#45;&#45;padding-all-r-5">
          <ngx-skeleton-loader
              [theme]="{ width: '200px', 'border-radius': '8px', height: '14px', 'margin-bottom': '6px', 'margin-top': '6px'}"></ngx-skeleton-loader>
        </div>
        <div  fxLayout="row" class="aal&#45;&#45;padding-top-bottom-r-5" fxLayoutGap="3rem" fxLayoutAlign="center center">
          <ngx-skeleton-loader [theme]="{ width: '54px', 'border-radius': '8px', height: '12px'}" fxLayoutAlign="center center"></ngx-skeleton-loader>
          <ngx-skeleton-loader [theme]="{ width: '40px', 'border-radius': '8px', height: '12px'}" fxLayoutAlign="center center"></ngx-skeleton-loader>
          <ngx-skeleton-loader [theme]="{ width: '35px', 'border-radius': '8px', height: '12px'}" fxLayoutAlign="center center"></ngx-skeleton-loader>
        </div>
      </div>
-->
    </div>
  </div>
</div>
