<aal-auto-complete-multiple (acceptChanges)="onAcceptChange($event)" [ID]="fieldConfiguration?.ID"
                            [alert]="serverError"
                            [chipsDisabled]="false"
                            [chipsRemovable]="true"
                            [control]="control"
                            [dataSource]="dataSource"
                            [help]="fieldConfiguration?.help"
                            [confirmToolBarNotApplicable]="hideConfirmationToolBar"
                            [hideHelp]="hideHelp"
                            [isBusy]="isBusy"
                            [isHistoryEnabled]="true"
                            [itemDisplayField]="['projectDefinition', 'description']"
                            [itemValueField]="'projectDefinition'"
                            [primaryKeyInValue]="'projectDefinition'"
                            [mode]="mode"
                            [placeholder]="fieldConfiguration?.placeholder"
                            [label]="fieldConfiguration?.label"
                            [style.width]="'100%'"
                            [lockMode]="lockMode"
></aal-auto-complete-multiple>
