<aal-date-picker [ID]="fieldConfiguration?.ID"
                 [control]="control"
                 [isHistoryEnabled]="true"
                 [label]="fieldConfiguration?.label"
                 [placeholder]="fieldConfiguration?.placeholder"
                 [alert]="serverError"
                 [help]="help"
                 (acceptChanges)="onAcceptChanges($event)"
                 [isBusy]="isBusy"
                 [mode]="mode"
                 [lockMode]="lockMode"
                 [fontSize]="fontSize"
                 [hideHelp]="hideHelp"
                 [minDate]="fieldConfiguration?.minDate">
</aal-date-picker>
