<aal-auto-complete-multiple [control]="control"
                            [ID]="fieldConfiguration?.ID"
                            [placeholder]="fieldConfiguration?.placeholder"
                            [label]="fieldConfiguration?.label"
                            [help]="fieldConfiguration?.help"
                            [dataSource]="dataSource"
                            [alert]="serverError"
                            [isBusy]="isBusy"
                            [mode]="mode"
                            [lockMode]="lockMode"
                            [itemDisplayField]="['release_package_number']"
                            [isHistoryEnabled]="isHistoryEnabled"
                            [chipsDisabled]="false"
                            [chipsRemovable]="true"
                            [primaryKeyInValue]="'id'"
                            [primaryKeyInResult]="'id'"
                            [svgIcon]="'release-package'"
                            [showItemIcon]="true"
                            [showIdenticalResults]="false"
                            (acceptChanges)="onAcceptChanges($event)"
                            [confirmToolBarNotApplicable]="hideConfirmationToolBar"
                            [hideHelp]="hideHelp"
></aal-auto-complete-multiple>

