<aal-button-overlay-card [progressBar]="progressBar"[showCategories]="showCategories"
                         [isIconBorder]="isIconBorder" [hideSectionDivider]="hideSectionDivider"
                         [buttonType]="buttonType" [buttonLabel]="buttonText" [buttonIcon]="defaultItemIcon"
                         [hasBadge]="hasBadge" [badgeData]="badgeData" [badgeType]="badgeType" [referenceBadgeData]="referenceBadgeData"
                         [headerIcon]="headerIcon" [headerTitle]="headerTitle"
                         [listItemDetails]="overlayData"
                         [isDragDropAllowed]="isDragDropAllowed"
                         [hideHeaderSection]="hideHeaderSection"
                         [showFooterBar]="showFooterBar"
                         [categoryItemsCount]="categoryItemsCount" [fractionCount]="fractionCount"
                         [footerButtonText]="footerButtonText || 'Ok'"
                         [tooltip]="tooltip" [closeOnItemClick]="closeOnItemClick"
                         [emptyStateData]="emptyStateData"
                         [footerButtonColor]="footerButtonColor"
                         [largeAmountsLength]="largeAmountsLength"
                         [largeAmountsTemplateRef]="largeAmountsTemplateRef"
                         (overlayCardListItemClick)="onOverLayCardListItemClick($event)"
                         (overlayCardOpen)="openPanelcard()"
                         (submitClick)="onFooterButtonClick()"
                         (dragDropItems)="dragDropItems($event)"
                         [itemTemplateRef]="cardSummaryRefForOverlayCard"
                         [emptyStateTemplateRef]="emptyStateTemplateRefForOverlayCard"
                         [overlayCardLoaderTemplateRef]="overlayCardLoaderTemplateRef"></aal-button-overlay-card>
