<aal-date-picker-range [ID]="fieldConfiguration?.ID"
                 [control]="control"
                 [isHistoryEnabled]="true" [label]="fieldConfiguration?.label"
                 [placeholder]="fieldConfiguration?.placeholder"
                 [alert]="serverError"
                 [help]="help"
                 (acceptChanges)="onAcceptChanges($event)"
                 [isBusy]="isBusy"
                 [mode]="mode">
                 [isBusy]="isBusy" [fontSize]="fontSize">
</aal-date-picker-range>
