<aal-empty-state [icon]="icon"
                 [imageTemplateRef]="imageTemplateRef"
                 [svgIcon]="svgIcon"
                 [imageURL]="imageURL"
                 [title]="title"
                 [titleTemplateRef]="titleTemplateRef"
                 [subTitle]="subTitle"
                 [subTitleTemplateRef]="subTitleTemplateRef"
                 [description]="description"
                 [iconSize]="iconSize || 'medium'"
                 [isPageLevel]="isPageLevel"
                 [descriptionTemplateRef]="descriptionTemplateRef">
</aal-empty-state>
