<aal-auto-complete-multiple [control]="control"
                            [ID]="fieldConfiguration?.ID"
                            [placeholder]="fieldConfiguration?.placeholder"
                            [label]="fieldConfiguration?.label"
                            [help]="fieldConfiguration?.help"
                            [dataSource]="dataSource"
                            [alert]="serverError"
                            [disableControl]="disableControl"
                            [isBusy]="isBusy"
                            [mode]="mode"
                            [lockMode]="lockMode"
                            [itemDisplayField]="['group','group_id']"
                            [isHistoryEnabled]="isHistoryEnabled"
                            [chipsDisabled]="false"
                            [chipsRemovable]="true"
                            [primaryKeyInValue]="'group'"
                            [primaryKeyInResult]="'group_id'"
                            [showIdenticalResults]="false"
                            [minCharacters]="3"
                            (acceptChanges)="onAcceptChanges($event)"
                            [confirmToolBarNotApplicable]="hideConfirmationToolBar"
                            [hideHelp]="hideHelp"
></aal-auto-complete-multiple>
