<aal-button-toggle [ID]="fieldConfiguration?.ID"
                   [isNullable]="isNullable"
                   [controlType]="'button'"
                   [label]="fieldConfiguration?.label"
                   [placeholder]="fieldConfiguration?.placeholder"
                   [control]="toggleControl"
                   [layout]="'column'"
                   [align]="align"
                   [help]="help"
                   [hideHelp]="hideHelp"
                   [alert]="serverError"
                   [isBusy]="isBusy"
                   [mode]="mode"
                   [optionValueField]="'value'"
                   [optionLabelField]="'label'"
                   [optionTooltip]="'tooltip'"
                   [hideLabel]="hideLabel"
                   [lockMode]="lockMode"
                   [options]="enumeration"
                   (acceptChanges)=onAcceptChanges($event) [fontSize]="fontSize">
</aal-button-toggle>
