.state-panel-card {
  background-color: #FFF;
  border-radius: 5px;
  padding: 0.5rem!important;
  margin-left: 10px;
}
.state-panel-card-header{
  width: 100%;
  height: 25px;
  border-radius: 8px;
  background: white;
  z-index: 1;
}
