<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="start center">
    <mat-icon class="opacity-54">warning</mat-icon>
    <span>{{data?.dialogTitle}}</span>
  </div>
  <button mat-icon-button color="primary" mat-dialog-close (click)="cancel()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content class="switch-owner-dialog-content">
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex fxLayoutGap="1rem">
    <div fxLayout="row" fxLayoutGap="1.5rem">
      <!--<mat-icon mat-list-icon>warning</mat-icon>-->
      <mc-alert class="aal--padding-left-r1"
                [level]="'WARN'" [message]="'warn'"></mc-alert>
      <div fxLayout="column" fxLayoutGap="1rem">
        <span class="mat-title"> {{title}}</span>
        <span [innerHTML]="subTitle"></span>
        <span [innerHTML]="info"></span>
        <mc-auto-complete-user-single [controlConfiguration]="data?.cs1Configuration"
                                      [control]="data?.cs1Control" [isObjectSnakeCase]="true"
                                      [hideHelp]="true" [mode]="'PROTECTED'"></mc-auto-complete-user-single>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="primary-btn-theme" fxLayout="row" fxLayoutGap=".5rem">
  <span fxFlex="1 1 auto"></span>
  <button *ngIf="!data?.fromScope" mat-button class="secondary-action-button" (click)="cancel()" mat-dialog-close>cancel</button>
  <button *ngIf="!data?.fromScope" mat-raised-button color="primary" (click)="onYes()">Switch to {{newChangeOwnerType}} Owner Type</button>
  <button *ngIf="data?.fromScope" mat-raised-button color="primary" (click)="cancel()">Yes, I Understand</button>
</mat-dialog-actions>
