<aal-input-text (acceptChanges)="onAcceptChanges($event)" [ID]="fieldConfiguration?.ID" [alert]="serverError"
                [confirmToolBarNotApplicable]="hideConfirmationToolBar"
                [control]="control" [fontSize]="fontSize" [help]="help"
                [hideHelp]="hideHelp"
                [hint]="fieldConfiguration?.hint" [isBusy]="isBusy" [label]="fieldConfiguration?.label"
                [lockMode]="lockMode"
                [maxLength]="fieldConfiguration?.validators?.max_length" [mode]="mode"
                [placeholder]="fieldConfiguration?.placeholder" [showLengthHint]="showLengthHint">
</aal-input-text>
