<aal-card-summary (mainDescriptionClick)="onLabelClick($event)" [actionTemplateRef]="actionTemplateRef" [ID]="id"
                  [fontSize]="fontsize" [item]="item" [wordWrapApplicable]="wordWrapApplicable"
                  [iconImageTemplateRef]="iconImageTemplateRef" [isMainDescriptionHTML]="isMainDescriptionHTML"
                  [labelCaption]="labelCaption" [mainDescriptionLink]="mainDescriptionLink" [labelTemplateRefr]="labelTemplateRef"
                  [label]="label" [mainDescriptionCaption]="mainDescriptionCaption"
                  [mainDescriptionTemplateRefr]="mainDescriptionTemplateRef"
                  [mainDescription]="mainDescription" [separator]="separator"
                  [showActionButtonOnFocus]="showActionButtonOnFocus"
                  [line1Caption]="line1Caption"
                  [line1]="line1" [line2Caption]="line2Caption"
                  [line2]="line2" [line2TemplateRefr]="line2TemplateRef"
                  [line3]="line3" [line3Caption]="line3Caption" [line3TemplateRefr]="line3TemplateRef"></aal-card-summary>
