
@import '../../../../../themes/material/theming';
.filter-panel--container {
  position: absolute;
  z-index: 2;
  background: $aal--mat-surface-variant;
  width:100%;

  .filter-panel--overlay {
    max-height: 60vh;
    overflow-y: auto;
    padding: 16px 64px 8px 64px;
  }

  .filter-panel--footer {
    padding: 0.5rem 1rem 0.5rem 4rem;
    background: $aal--mat-surface;
  }
}

