@import '../../../../themes/material/theming';

.menu-header-icon {
  border: 2px solid $aal--mat-secondary;
  color: $aal--mat-secondary;
  border-radius: 50%;
  padding: 0.25rem;
}
.menu-header-icon .menu-icon {
  border: 2px solid #bbbbbb;
  color:#bbbbbb;
}
.quick-card-toolbar--menu-item {
  line-height: 19px !important;
  min-height: 4rem !important;
}
.title-color--black{
  color: #000000;
  line-height: 20px !important;
}
