<aal-input-number [ID]="fieldConfiguration?.ID"
                  [control]="control"
                  [placeholder]="fieldConfiguration?.placeholder"
                  [label]="fieldConfiguration?.label"
                  [isHistoryEnabled]="true"
                  [prefix]="prefix"
                  [help]="help"
                  [alert]="serverError"
                  [isBusy]="isBusy"
                  [fractionDigits]="fractionDigits"
                  (acceptChanges)="onAcceptChanges($event)"
                  [mode]="mode"
                  [fontSize]="fontSize"
                  [lockMode]="lockMode"
                  [hint]="fieldConfiguration?.hint"
                  [hideHelp]="hideHelp"
                  [showLengthHint]="showLengthHint"
                  [suffix]="suffix"
                  [maxLength]="fieldConfiguration?.validators?.max_length"
                  [confirmToolBarNotApplicable]="hideConfirmationToolBar">
</aal-input-number>
