<aal-input-duration [type]="'duration'"
                    [control]="control"
                    [ID]="fieldConfiguration?.ID"
                    [placeholder]="fieldConfiguration?.placeholder"
                    [help]="help"
                    [label]="fieldConfiguration?.label"
                    [isBusy]="isBusy"
                    [mode]="mode"
                    [displayOutputOnlyIn]="'m'"
                    [useDefaultHelpDisplay]="false"
                    [alert]="serverError"
                    [prefixInReadMode]="agendaItemStartTime ? agendaItemStartTime + ' ' : ''"
                    (click)="$event.stopPropagation()"
                    (acceptChanges)="onAcceptChange($event)" [fontSize]="fontSize" [hideHelp]="hideHelp" [confirmToolBarNotApplicable]="hideConfirmationToolBar"></aal-input-duration>
