<aal-button-radio [ID]="fieldConfiguration?.ID"
                  [alert]="serverError"
                  [control]="control"
                  [placeholder]="fieldConfiguration?.placeholder"
                  [label]="fieldConfiguration?.label"
                  [help]="help"
                  [optionLabelField]="'label'"
                  [optionValueField]="'value'"
                  [options]="fieldConfiguration?.options"
                  [disableControl]="disableControl"
                  [isBusy]="isBusy"
                  [hideHelp]="hideHelp"
                  [ellipsisAfter]="ellipsisAfter"
                  [mode]="mode"
                  [lockMode]="lockMode"
                  [alignOptionsHorizontally]="alignOptionsHorizontally"
                  [hideLabel]="hideLabel" [fontSize]="fontSize"
                  (acceptChanges)="onAcceptChanges($event)">
</aal-button-radio>
