<aal-auto-complete-multiple [control]="control"
                            [ID]="fieldConfiguration?.ID"
                            [placeholder]="fieldConfiguration?.placeholder"
                            [label]="fieldConfiguration?.label"
                            [help]="fieldConfiguration?.help"
                            [dataSource] = "dataSource"
                            [alert]="serverError"
                            [disableControl]="disableControl"
                            [isBusy]="isBusy"
                            [mode]="mode"
                            [lockMode]="lockMode"
                            [itemDisplayField] = "isObjectSnakeCase ? ['full_name', 'abbreviation'] : ['fullName', 'abbreviation']"
                            [isHistoryEnabled]="isHistoryEnabled === false ? isHistoryEnabled : true"
                            [itemIcon]="'account_circle'"
                            [createImageUrlFn]="createImageUrl.bind(this)"
                            [propertyBindToImage]="isObjectSnakeCase ? 'user_id' : 'userID'"
                            [primaryKeyInValue]="isObjectSnakeCase ? 'user_id' : 'userID'"
                            [chipsDisabled]="false"
                            [chipsRemovable]="true"
                            [minCharacters]="3"
                            (acceptChanges)="onAcceptChanges($event)"
                            [confirmToolBarNotApplicable]="hideConfirmationToolBar"
                            [hideHelp]="hideHelp"
></aal-auto-complete-multiple>
