<aal-auto-complete-free-text-multiple [control]="control"
                                      [ID]="fieldConfiguration?.ID"
                                      [label]="fieldConfiguration?.label"
                                      [placeholder]="fieldConfiguration?.placeholder"
                                      [help]="fieldConfiguration?.help"
                                      [mode]="mode"
                                      [dataSource] = "dataSource"
                                      [showOptionsOnFocus]="true"
                                      [isBusy]="isBusy"
                                      [itemValueField] = "'userID'"
                                      [itemDisplayField] = "['fullName', 'abbreviation']"
                                      [showItemIcon]="true"
                                      [svgIcon]="'change-request-product-affected'"
                                      [isHistoryEnabled]="false"
                                      [chipsDisabled]="false" (onFocus)="onFocus()"
                                      [chipsRemovable]="true" [resetList]="resetList"
                                      (chipAdded)="checkIfInProductList($event)"
                                      (acceptChanges)="onAcceptChanges($event)"
></aal-auto-complete-free-text-multiple>

