<aal-expansion-panel-list [help]="controlConfiguration?.help"  *ngIf="!hidePanel"
                          [header]="expansionPanelItemConfigurationList && expansionPanelItemConfigurationList.length ? 'AIR Issues ('+expansionPanelItemConfigurationList.length+')' : 'AIR Issues (0)'"
                          [isBusy]="isBusy"
                          [expansionPanelItemConfigurationList]="expansionPanelItemConfigurationList"
                          [showAddButton]="((importDataAction$ | async)) && !changeRequestFormGroup.disabled"
                          (addItem)="onAddAIRItem('addAIR')"
                          (actionSubmit)="onActionSubmit($event)"
                          (itemClick)="onItemClick($event)"
                          [emptyStateData]="emptyStatedata"
                          [disableAddButton]="(changeRequestFormGroup?.get('status')?.value ==='OBSOLETED' ||
                          changeRequestFormGroup?.get('status')?.value ==='CLOSED' ||
                          changeRequestFormGroup?.get('status')?.value ==='REJECTED')"
                          [isExpanded]="isExpanded"
                          [fontSize]="fontsize"
                          [error]="panelError"
                          [imageDisplayRef]="imageDisplayTemplate">
</aal-expansion-panel-list>
<ng-template #imageDisplayTemplate let-item>
  <img *ngIf="item?.imageURL" class="list-item--image" src="{{item?.imageURL}}" alt="">
  <mat-icon *ngIf="item?.icon" class="icon" [ngClass]="{'icon--border': true}">{{item?.icon}}</mat-icon>
  <mat-icon *ngIf="item?.svgIcon" class="icon" [svgIcon]="item?.svgIcon"></mat-icon>
</ng-template>
