<mat-drawer-container class="main-body" autosize aalDragDropFile (dragenterFn)="dragDocEnter($event)" (dragoverFn)="dragover($event)" (dragleaveFn)="dragLeave($event)" (dropFn)="dropFile($event)">
  <mat-drawer #drawer mode="side" position="end" class="main-drawer">
    <mc-side-panel-right id="side_panel_right" [isFullMenuVisible]="isFullMenuVisible" [panelMode]="rightPanelMode" *ngIf="showRightPanel">
    </mc-side-panel-right>
  </mat-drawer>

  <!--app template is based out of standard mat template and project specification-->
  <div fxLayout="column" fxLayoutAlign="start" class="main-body">
    <!--app header component is used to show header section of application
    as header is constant and not need to change on route change it can not be part of app router-->
    <mc-header class="header-index"></mc-header>
    <div fxLayout="row" class="main-body container-wrapper" [style.height]="'calc(100% - 3.5rem) !important'">
      <!--body and note&action panel should be added inside side nav container so that body will always be in side nav content
      and note and action panels will be in side nav so on click on comment
       or star symbol in header will  toggle the side-nav-panel using navPanel reference -->
      <mat-sidenav-container fxFlex="1 1 auto" class="body-container">
        <mat-sidenav [mode]="menuMode" position="start" opened>
          <mc-menu [ngClass]="{'side-menu': isFullMenuVisible,'icon-menu': !isFullMenuVisible}"></mc-menu>
        </mat-sidenav>
        <mat-sidenav-content #menuSideNavContent>
          <mat-sidenav-container fxFlex="1 1 auto" class="body-container">
            <mat-sidenav #navPanel mode="side" [position]="position" class="contentDrawer">
            </mat-sidenav>
            <!--side nav content id "slidingBody" is mentioned and used to change the width of container dynamically when side nav is open/close-->
            <mat-sidenav-content id="slidingBody" #slidingBody>
              <!--mc-body is main which container router outlet part-->
              <mc-body class="background-grey" id="appBody" ></mc-body>
            </mat-sidenav-content>
          </mat-sidenav-container>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>

</mat-drawer-container>
<!--app loading message is used to show loader symbol on service call-->
<mc-loading-msg class="mat-typography"></mc-loading-msg>
