<aal-select-multiple-input (acceptChanges)="onAcceptChanges($event)"
                           (acceptSecondaryControlChanges)="onAcceptChanges($event)"
                           (revertSecondaryControlChanges)="onRevertedChanges($event)"
                           [ID]="fieldConfiguration?.ID"
                           [alert]="serverError"
                           [control]="selectControl"
                           [help]="help"
                           [mode]="mode"
                           [layout]="'column'"
                           [optionLabelField]="'label'"
                           [optionValueField]="'value'"
                           [label]="fieldConfiguration?.label"
                           [options]="fieldConfiguration?.options"
                           [placeholder]="fieldConfiguration?.placeholder"
                           [secondaryControlAlert]="serverError"
                           [secondaryControlHelp]="descriptionControlConfiguration?.help"
                           [secondaryControlID]="descriptionControlConfiguration?.ID"
                           [secondaryControlIsHistoryEnabled]="secondaryControlIsHistoryEnabled"
                           [secondaryControlMaxLength]="descriptionControlConfiguration?.validators?.max_length"
                           [secondaryControlMinLength]="descriptionControlConfiguration?.validators?.min_length"
                           [isBusy]="isBusy"
                           [secondaryControlPlaceholder]="descriptionControlConfiguration?.label"
                           [secondaryControl]="descriptionControl"
                           [valuesWhereSecondaryControlIsApplicable]="showDescriptionForOptions"
                           [valuesWhereSecondaryControlIsMandatory]="showMandatoryDescriptionForOptions"
                           [valuesWhereOtherOptionsDisabled]="valuesWhereOtherOptionsDisabled"
                           [isSecondaryControlValueHTML]="isSecondaryControlValueHTML"
                           [fontSize]="fontSize" [ellipsisAfter]="ellipsisAfter">
</aal-select-multiple-input>
