<div fxLayout="column" fxLayoutGap="1rem">
<mc-expansion-panel [isExpanded]="isExpandedSelected" [header]="'Impact on Supply Chain / Factory / Field'">
  <div fxLayout="row" expansion-panel-content fxLayoutGap="1rem"
       class="inner-expansion-panel-content aal--padding-right-r-5">
    <div fxLayout="column" fxFlex="50%" fxLayoutGap="0.5rem">
      <mc-input-duration [control]="changeRequestFormGroup?.get('impact_analysis.investigation_labor_hours')"
                         [instanceId]="changeRequestFormGroup?.get('impact_analysis.id')?.value"
                         [durationType]="'duration'"
                         [controlConfiguration]="changeRequestConfiguration?.impact_analysis?.investigation_labor_hours"
                         [isHistoryEnabled]="true" [requestType]="'instance'">
      </mc-input-duration>
      <mc-input-duration [control]="changeRequestFormGroup?.get('impact_analysis.development_labor_hours')"
                         [instanceId]="changeRequestFormGroup?.get('impact_analysis.id')?.value"
                         [controlConfiguration]="changeRequestConfiguration?.impact_analysis?.development_labor_hours"
                         [durationType]="'duration'"
                         [isHistoryEnabled]="true" [requestType]="'instance'">
      </mc-input-duration>
      <mc-button-toggle-input [control]="changeRequestFormGroup?.get('impact_analysis.impact_on_cycle_time')"
                              [controlConfiguration]="changeRequestConfiguration?.impact_analysis?.impact_on_cycle_time"
                              [descriptionControl]="changeRequestFormGroup?.get('impact_analysis.impact_on_cycle_time_details')"
                              [descriptionControlConfiguration]="changeRequestConfiguration?.impact_analysis?.impact_on_cycle_time_details"
                              [instanceId]="changeRequestFormGroup?.get('impact_analysis.id')?.value"
                              [showDescriptionForOptions]="impactOnCycleTimeDetailsShowDesForOptions" [isNullable]="true" [requestType]="'instance'">
      </mc-button-toggle-input>
    </div>
    <div fxLayout="column" fxFlex="50%" fxLayoutGap="0.5rem">
      <mc-button-toggle-input [control]="changeRequestFormGroup?.get('impact_analysis.impact_on_availability')"
                              [controlConfiguration]="changeRequestConfiguration?.impact_analysis?.impact_on_availability"
                              [descriptionControl]="changeRequestFormGroup?.get('impact_analysis.impact_on_availability_details')"
                              [descriptionControlConfiguration]="changeRequestConfiguration?.impact_analysis?.impact_on_availability_details"
                              [instanceId]="changeRequestFormGroup?.get('impact_analysis.id')?.value"
                              [showDescriptionForOptions]="impactOnAvailabilityShowDesForOptions" [isNullable]="true" [requestType]="'instance'">
      </mc-button-toggle-input>
      <mc-button-toggle-input [control]="changeRequestFormGroup?.get('impact_analysis.impact_on_system_level_performance')"
                              [controlConfiguration]="changeRequestConfiguration?.impact_analysis?.impact_on_system_level_performance"
                              [descriptionControl]="changeRequestFormGroup?.get('impact_analysis.impact_on_system_level_performance_details')"
                              [descriptionControlConfiguration]="changeRequestConfiguration?.impact_analysis?.impact_on_system_level_performance_details"
                              [instanceId]="changeRequestFormGroup?.get('impact_analysis.id')?.value"
                              [showDescriptionForOptions]="sysLevelPerformImpactShowDesForOptions" [isNullable]="true" [requestType]="'instance'">
      </mc-button-toggle-input>
      <mc-button-toggle-input [control]="changeRequestFormGroup?.get('impact_analysis.impact_on_labor_hours')"
                              [controlConfiguration]="changeRequestConfiguration?.impact_analysis?.impact_on_labor_hours"
                              [descriptionControl]="changeRequestFormGroup?.get('impact_analysis.impact_on_labor_hours_details')"
                              [descriptionControlConfiguration]="changeRequestConfiguration?.impact_analysis?.impact_on_labor_hours_details"
                              [instanceId]="changeRequestFormGroup?.get('impact_analysis.id')?.value"
                              [showDescriptionForOptions]="sysLevelPerformImpactShowDesForOptions" [isNullable]="true" [requestType]="'instance'">
      </mc-button-toggle-input>
    </div>
  </div>
</mc-expansion-panel>

<div fxLayout="row" fxLayoutGap="1rem">
  <div fxLayout="column" fxFlex fxLayoutGap="1rem">
    <mc-expansion-panel [isExpanded]="isExpandedSelected" [header]="'Risks'">
      <div fxLayout="column" expansion-panel-content fxLayoutGap="1rem" class="inner-expansion-panel-content aal--padding-right-r-5">
        <mc-button-toggle-input [control]="changeRequestFormGroup?.get('impact_analysis.tech_risk_assessment_sra')"
                                [controlConfiguration]="changeRequestConfiguration?.impact_analysis?.tech_risk_assessment_sra"
                                [descriptionControl]="changeRequestFormGroup?.get('impact_analysis.tech_risk_assessment_sra_details')"
                                [descriptionControlConfiguration]="changeRequestConfiguration?.impact_analysis?.tech_risk_assessment_sra_details"
                                [showDescriptionForOptions]="techRiskAssessSRShowDesForOptions"
                                [instanceId]="changeRequestFormGroup?.get('impact_analysis.id')?.value"
                                [isSecondaryControlValueHTML]="true" [isNullable]="true" [requestType]="'instance'">
        </mc-button-toggle-input>
      </div>
    </mc-expansion-panel>
  </div>
  <div fxLayout="column" fxFlex fxLayoutGap="1rem">
    <mc-expansion-panel-disabled [header]="'Pre-Install Impact Analysis'"></mc-expansion-panel-disabled>
  </div>
</div>
  <mc-expansion-panel-disabled [header]="'Upgrade'"></mc-expansion-panel-disabled>
</div>
