<div fxLayout="column" class="aal--margin-bottom-r-5 overlay-loader">
  <div fxLayout="row">
    <div fxFlex="100" fxLayout="column">

      <div fxLayout="row" fxLayoutAlign="space-between center" class="overlay-panel aal--padding-all-r1">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem" class="aal--padding-all-r-5 aal--margin-right-r1">
          <ngx-skeleton-loader [theme]="{ width: '50px', height: '50px' }" appearance="circle"></ngx-skeleton-loader>
          <div fxLayout="column">
            <ngx-skeleton-loader [theme]="{ width: '200px', 'border-radius': '8px', height: '14px', 'margin-bottom': '4px', 'margin-top': '4px'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader [theme]="{ width: '170px', 'border-radius': '8px', height: '14px', 'margin-bottom': '4px' }"></ngx-skeleton-loader>
            <ngx-skeleton-loader [theme]="{ width: '170px', 'border-radius': '8px', height: '14px', 'margin-bottom': '4px' }"></ngx-skeleton-loader>
          </div>
        </div>
<!--        <div fxLayout="row" fxFlexAlign="start end" class="aal&#45;&#45;padding-top-bottom-r-5 aal&#45;&#45;margin-right-rs1-5" fxLayoutGap="12px">-->
<!--          <ngx-skeleton-loader [theme]="{ width: '40px', 'border-radius': '20px', height: '40px'}"></ngx-skeleton-loader>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</div>
