<aal-input-text-suffix (acceptChanges)="onAcceptChanges($event)"
                       [ID]="fieldConfiguration?.ID"
                       [alert]="serverError"
                       [control]="control"
                       [fontSize]="fontSize"
                       [help]="help"
                       [hideHelp]="hideHelp"
                       [hint]="fieldConfiguration?.hint"
                       [isBusy]="isBusy"
                       [label]="fieldConfiguration?.label"
                       [maxLength]="fieldConfiguration?.validators?.max_length"
                       [mode]="mode" [placeholder]="fieldConfiguration?.placeholder" [separator]="'paranthesis'"
                       [showLengthHint]="showLengthHint" [suffix]="suffix" [textStyle]="'bold'" [confirmToolBarNotApplicable]="hideConfirmationToolBar">
</aal-input-text-suffix>
