<aal-input-time [ID]="fieldConfiguration?.ID"
                [control]="control"
                [isHistoryEnabled]="isHistoryEnabled"
                [placeholder]="fieldConfiguration?.placeholder"
                [label]="fieldConfiguration?.label"
                [alert]="serverError"
                [help]="help"
                [hideHelp]="hideHelp"
                (acceptChanges)="onAcceptChanges($event)"
                [isBusy]="isBusy"
                [mode]="mode"
                [lockMode]="lockMode"
                [fontSize]="fontSize">
</aal-input-time>
