<div fxFlex fxLayout="column" class="page-body pageNotFound" fxFill fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center">
    <img src="../../../../assets/images/pnf.png" class="" alt="">
    <div class="color-blue mat-display-3 aal--margin-all-r0">404</div>
    <div class="color-blue mat-display-2">Page Not found</div>
    <span
      class="mat-display-1 label">We're sorry, the page you requested could not be found. Please go back to the <a
      [routerLink]="['/dashboard']">Dashboard</a></span>
  </div>
</div>
