<aal-select-single-input (acceptChanges)="onAcceptChanges($event)"
                         (acceptSecondaryControlChanges)="onAcceptChanges($event)"
                         (revertSecondaryControlChanges)="onRevertedChanges($event)"
                         [isNullable]="isNullable"
                         [ID]="fieldConfiguration?.ID"
                         [alert]="serverError"
                         [control]="selectControl"
                         [help]="help"
                         [layout]="'column'"
                         [optionLabelField]="optionLabelField || 'label'"
                         [optionValueField]="optionValueField || 'value'"
                         [options]="fieldConfiguration?.options"
                         [placeholder]="fieldConfiguration?.placeholder"
                         [label]="fieldConfiguration?.label"
                         [secondaryControlAlert]="serverError"
                         [secondaryControlHelp]="descriptionControlConfiguration?.help"
                         [secondaryControlID]="descriptionControlConfiguration?.ID"
                         [secondaryControlIsHistoryEnabled]="secondaryControlIsHistoryEnabled"
                         [secondaryControlMaxLength]="descriptionControlConfiguration?.validators?.max_length"
                         [secondaryControlMinLength]="descriptionControlConfiguration?.validators?.min_length"
                         [isBusy]="isBusy"
                         [mode]="mode"
                         [secondaryControlLabel]="descriptionControlConfiguration?.label"
                         [secondaryControlPlaceholder]="descriptionControlConfiguration?.placeholder"
                         [secondaryControl]="descriptionControl"
                         [valuesWhereSecondaryControlIsApplicable]="showDescriptionForOptions"
                         [clearDescriptionOnControlValueChange]="clearDescriptionOnControlValueChange"
                         [fontSize]="fontSize">
</aal-select-single-input>
