<aal-date-picker-select [ID]="fieldConfiguration?.ID"
                 [control]="control"
                 [isHistoryEnabled]="true" [label]="fieldConfiguration?.label"
                 [placeholder]="fieldConfiguration?.placeholder"
                 [alert]="serverError"
                        [hideHelp]="hideHelp"
                 [help]="help" [lockMode]="lockMode"
                 (acceptChanges)="onAcceptChanges($event)"
                 [isBusy]="isBusy"
                 [mode]="mode" [type]="type">
</aal-date-picker-select>
