<aal-auto-complete-multiple (acceptChanges)="onAcceptChanges($event)"
                            [ID]="fieldConfiguration?.ID"
                            [alert]="serverError"
                            [chipsDisabled]="false"
                            [chipsRemovable]="true"
                            [confirmToolBarNotApplicable]="hideConfirmationToolBar"
                            [control]="control"
                            [dataSource]="dataSource"
                            [help]="fieldConfiguration?.help"
                            [hideHelp]="hideHelp"
                            [isBusy]="isBusy"
                            [isHistoryEnabled]="true"
                            [itemDisplayField]="['wbsElement','description']"
                            [itemValueField]="'wbsElement'"
                            [label]="fieldConfiguration?.label"
                            [lockMode]="lockMode" [mode]="mode"
                            [placeholder]="fieldConfiguration?.placeholder" [primaryKeyInValue]="'wbsElement'"
></aal-auto-complete-multiple>
