<aal-button-overlay-tabbed [progressBar]="progressBar"
                           [headerIcon]="headerIcon" [headerTitle]="headerTitle"
                           [buttonTooltip]="tooltip" [buttonIcon]="defaultItemIcon" [buttonType]="buttonType"
                           [hasBadge]="false" [badgeData]="" [badgeType]="'single'"
                           [overlayMenuYPosition]="'below'" [overlayMenuXPosition]="'before'"
                           [overlayData]="userActions"
                           [categoryKey]="'categories'" [categoryItemName]="'name'" [categoryItemsCount]="'TotalItems'"
                           [subCategoryKey]="'subCategories'" [subCategoryItemName]="'name'" [subCategoryItemsCount]="'totalItems'"
                           [itemKey]="'items'"
                           [selectedIndex]="selectedTabIndex"
                           [showAllForTabs]="showAllForTabs"
                           [largeAmountsForTabs]="largeAmountsForTabs"
                           [largeAmountsLength]="largeAmountsLength"
                           [isIconBorder]="isIconBorder"
                           (overLayTabbedListItemClick)="onOverLayTabbedListItemClick($event)"
                           (overlayTabbedPanelOpen)="onOverlayTabbedPanelOpen($event)"
                           (selectedTab)="selectedTabClick($event)"
                           (showAllItems)="showAllItemsClick()"
                           [itemTemplateRef]="cardSummaryRef"
                           [largeAmountsTemplateRef]="largeAmountsRef"
></aal-button-overlay-tabbed>
