<mc-button-contained [text]="'DIA'" [disabled]="disabled"
                     [noCheckOnCaseAction]="true"
                     [tooltip]="'Open DIA in new window'"
                     [buttonId]="'dia_button'"
                     [matMenuTriggerFor]="menu"
                     (menuOpened)="getDIABOM()"
                     [color]="'accent'"
                     [caseObject]="caseObject">
</mc-button-contained>
<mat-menu #menu="matMenu" yPosition="below" xPosition="before" [overlapTrigger]="false">
  <mat-nav-list>
    <mat-list-item (click)="openDIABOM(revision)" *ngFor="let revision of (diabom?.revisions || dia?.revisions)">
      <div fxFlex fxLayout="row" fxLayoutGap="1rem">
        <div fxFlex="1 1 11%">{{revision?.revision}}</div>
        <div fxLayout="row" fxFlex fxLayoutAlign="center">
          <label class="overflow-ellipsis">last modified by &nbsp;</label>
          <div class="overflow-ellipsis" [matTooltip]="revision?.lastModifiedBy?.fullName || revision?.last_modified_by?.full_name" matTooltipPosition="before">
            {{revision?.lastModifiedBy?.fullName || revision?.last_modified_by?.full_name}}
          </div>
        </div>
        <div fxLayout="row">
          <label>on &nbsp;</label>
          <div class="overflow-ellipsis" fxFlex [matTooltip]="(revision?.lastModifiedOn || revision?.last_modified_on) | aalDate"
               matTooltipPosition="before">{{(revision?.lastModifiedOn || revision?.last_modified_on) | aalDate}}
          </div>
        </div>
      </div>
    </mat-list-item>
    <mc-empty-state [title]="'No DIA Items'"
                    [subTitle]="'No DIA items present yet.'" [icon]="'event'"
                    *ngIf="!(diabom?.revisions || dia?.revisions)">
    </mc-empty-state>
  </mat-nav-list>
</mat-menu>
