<aal-auto-complete-multiple [control]="control"
                            [ID]="fieldConfiguration?.ID"
                            [placeholder]="fieldConfiguration?.placeholder"
                            [label]="fieldConfiguration?.label"
                            [help]="fieldConfiguration?.help"
                            [dataSource] = "dataSource"
                            [alert]="serverError"
                            [isBusy]="isBusy"
                            [mode]="mode"
                            [itemValueField]="'number'"
                            [itemDisplayField]="['number']"
                            [isHistoryEnabled]="true"
                            [primaryKeyInValue]="'number'"
                            [chipsDisabled]="false"
                            [chipsRemovable]="true"
                            [confirmToolBarNotApplicable]="hideConfirmationToolBar"
                            [hideHelp]="hideHelp"
                            (acceptChanges)="onAcceptChanges($event)" [lockMode]="lockMode"
></aal-auto-complete-multiple>

