<aal-auto-complete-single [control]="control"
                          [ID]="fieldConfiguration?.ID"
                          [placeholder]="fieldConfiguration?.placeholder"
                          [label]="fieldConfiguration?.label"
                          [help]="fieldConfiguration?.help"
                          [dataSource] = "dataSource"
                          [alert]="serverError"
                          [isBusy]="isBusy"
                          [disableControl]="disableControl"
                          [emitDisableEvent]="false"
                          [mode]="mode"
                          [separator]="'Parenthesis'"
                          [itemValueField] = "isObjectSnakeCase? 'user_id' : 'userID'"
                          [itemDisplayField] = "isObjectSnakeCase ? ['full_name', 'abbreviation'] : ['fullName', 'abbreviation']"
                          [secondLineItemDisplayFields]="isObjectSnakeCase ? ['department_name'] : ['departmentName']"
                          [isHistoryEnabled]="true"
                          [itemIcon]="'account_circle'"
                          [createImageUrlFn]="createImageUrl.bind(this)"
                          [propertyBindToImage]="isObjectSnakeCase ? 'user_id' : 'userID'"
                          [confirmToolBarNotApplicable]="hideConfirmationToolBar"
                          [hideHelp]="hideHelp"
                          [lockMode]="lockMode"
                          [minCharacters]="3"
                          [primaryKeyInValue]="isObjectSnakeCase ? 'user_id' : 'userID'"
                          [disableClearIcon]="disableClearIcon"
                          (acceptChanges)="onAcceptChange($event)"
></aal-auto-complete-single>

