<div #buttonPosition>
<aal-button-overlay-tabbed [progressBar]="progressBar" [disableClick]="disableClickOnItem"
                           [headerIcon]="headerIcon" [headerTitle]="headerTitle"
                           [buttonType]="buttonType" [buttonLabel]="buttonText" [buttonIcon]="defaultItemIcon" [buttonTooltip]="tooltip"
                           [hasBadge]="hasBadge" [badgeData]="badgeData" [badgeType]="badgeType"
                           [badgeColor]="badgeColor"
                           [panelCloseOnItemClick]="panelCloseOnItemClick"
                           [overlayMenuYPosition]="yPosition" [overlayMenuXPosition]="'after'"
                           [overlayData]="overlayData"
                           [categoryKey]="'categories'"
                           [categoryItemName]="objectAsSnakeCase ? 'label' :'name'"
                           [categoryItemsCount]="objectAsSnakeCase ? 'total_items' : 'TotalItems'"
                           [subCategoryKey]="objectAsSnakeCase ? 'sub_categories' : 'subCategories'"
                           [subCategoryItemName]="objectAsSnakeCase ? 'label' : 'name'"
                           [subCategoryItemsCount]="objectAsSnakeCase ? 'total_items' : 'totalItems'"
                           [closeOnItemClick]="closeOnItemClick"
                           [itemKey]="'items'"
                           [selectedIndex]="selectedTabIndex"
                           [sortMenuForTabs]="sortMenuForTabs"
                           [showAllForTabs]="showAllForTabs"
                           [largeAmountsForTabs]="largeAmountsForTabs"
                           [largeAmountsLength]="largeAmountsLength"
                           [isIconBorder]="isIconBorder"
                           [defaultIconTempRef]="defaultIconTempRef"
                           (overLayTabbedListItemClick)="onOverLayTabbedListItemClick($event)"
                           (overlayTabbedPanelOpen)="onOverlayTabbedPanelOpen($event)"
                           (selectedTab)="selectedTabClick($event)"
                           (showAllItems)="showAllItemsClick()"
                           [itemTemplateRef]="cardSummaryRef"
                           [largeAmountsTemplateRef]="largeAmountsRef"
                           [menuSortTemplateRef]="menuSortRefr"
                           [emptyStateTemplateRef]="emptyStateRef"
                           ></aal-button-overlay-tabbed>
</div>
